@page "/"

<PageTitle>Home</PageTitle>

<h1>Scroll to Section Example</h1>

<!-- Navigation Links (anchor links) -->
<ul>
    <li><a href="#section2">Go to Section 2</a></li>
</ul>

<!-- Content Sections with Named Elements (ID) -->
<h2 id="section1">Section 1</h2>
<p>This is Section 1. Clicking on the links above will scroll you to different sections on the page.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 id="section2">Section 2</h2>
<p>This is Section 2. You can jump between sections using anchor links.</p>